<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vezénylés_szerkesztő.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Vezénylés_szerkesztő.Properties.Settings>
            <setting name="warningCardDateDays" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="warningExamDateDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="avgMonthlyHours" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="hoursPTO" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="hoursStandby" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hoursFreeDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="multiplierKm" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="employeesPerFlight" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="employeesPerNightShift" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="employeesPerDayShift" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="employeesPerStandby" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="colorShiftAMStart" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="colorShiftAMEndLong" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="colorShiftAMEndShort" serializeAs="String">
                <value>Aquamarine</value>
            </setting>
            <setting name="colorShiftModDay" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="colorShiftPMStart" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="colorShiftPMEndLong" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="colorShiftPMEndShort" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="colorShiftGate3" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="colorShiftNight" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="colorShiftStandby" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="colorFreeDay" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="colorStandBy" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="colorPaidTimeOff" serializeAs="String">
                <value>Control</value>
            </setting>
        </Vezénylés_szerkesztő.Properties.Settings>
    </userSettings>
</configuration>